


html,body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    
}
/*css variables*/
:root{
    --primary-color:#4458dc;
    --title-color:#5dcc75;
    --primary-color2:#78ca93;
    --text-color:#777777;
    


    --roboto:"Roboto",cursive;
}
